 /* Layout 4967 */

 #pgc-4967-0-0,
 #pgc-4967-2-0,
 #pgc-4967-3-0,
 #pgc-4967-4-0 {
     width: 100%;
     width: calc(100% - ( 0 * 30px))
 }

 #pg-4967-0,
 #pg-4967-1,
 #pg-4967-2,
 #pg-4967-3,
 #pl-4967 .so-panel {
     margin-bottom: 30px
 }

 #pgc-4967-1-0,
 #pgc-4967-1-1,
 #pgc-4967-1-2 {
     width: 33.3333%;
     width: calc(33.3333% - ( 0.66666666666667 * 30px))
 }

 #pl-4967 .so-panel:last-child {
     margin-bottom: 0px
 }

 #pg-4967-1>.panel-row-style {
     padding: 80px 0px 42px
 }

 #panel-4967-1-0-0>.panel-widget-style,
 #panel-4967-1-1-0>.panel-widget-style {
     padding: 0px 0px 30px
 }

 #pg-4967-2>.panel-row-style {
     background-color: #f5f5f5
 }

 #panel-4967-2-0-2>.panel-widget-style {
     padding: 20px 0 80px 0!important
 }

 #pg-4967-4>.panel-row-style {
     background-color: #f8b864
 }

 @media (max-width:780px) {
     #pg-4967-0.panel-no-style,
     #pg-4967-0.panel-has-style>.panel-row-style,
     #pg-4967-1.panel-no-style,
     #pg-4967-1.panel-has-style>.panel-row-style,
     #pg-4967-2.panel-no-style,
     #pg-4967-2.panel-has-style>.panel-row-style,
     #pg-4967-3.panel-no-style,
     #pg-4967-3.panel-has-style>.panel-row-style,
     #pg-4967-4.panel-no-style,
     #pg-4967-4.panel-has-style>.panel-row-style {
         -webkit-flex-direction: column;
         -ms-flex-direction: column;
         flex-direction: column
     }
     #pg-4967-0 .panel-grid-cell,
     #pg-4967-1 .panel-grid-cell,
     #pg-4967-2 .panel-grid-cell,
     #pg-4967-3 .panel-grid-cell,
     #pg-4967-4 .panel-grid-cell {
         margin-right: 0
     }
     #pg-4967-0 .panel-grid-cell,
     #pg-4967-1 .panel-grid-cell,
     #pg-4967-2 .panel-grid-cell,
     #pg-4967-3 .panel-grid-cell,
     #pg-4967-4 .panel-grid-cell {
         width: 100%
     }
     #pgc-4967-1-0,
     #pgc-4967-1-1 {
         margin-bottom: 30px
     }
     #pl-4967 .panel-grid-cell {
         padding: 0
     }
     #pl-4967 .panel-grid .panel-grid-cell-empty {
         display: none
     }
     #pl-4967 .panel-grid .panel-grid-cell-mobile-last {
         margin-bottom: 0px
     }
 }





 #pgc-w5763a23740ed4-0-0 {
     width: 100%;
     width: calc(100% - ( 0 * 30px))
 }

 #pl-w5763a23740ed4 .so-panel {
     margin-bottom: 30px
 }

 #pl-w5763a23740ed4 .so-panel:last-child {
     margin-bottom: 0px
 }

 #panel-w5763a23740ed4-0-0-1>.panel-widget-style {
     margin-right: 10px
 }

 @media (max-width:780px) {
     #pg-w5763a23740ed4-0.panel-no-style,
     #pg-w5763a23740ed4-0.panel-has-style>.panel-row-style {
         -webkit-flex-direction: column;
         -ms-flex-direction: column;
         flex-direction: column
     }
     #pg-w5763a23740ed4-0 .panel-grid-cell {
         margin-right: 0
     }
     #pg-w5763a23740ed4-0 .panel-grid-cell {
         width: 100%
     }
     #pl-w5763a23740ed4 .panel-grid-cell {
         padding: 0
     }
     #pl-w5763a23740ed4 .panel-grid .panel-grid-cell-empty {
         display: none
     }
     #pl-w5763a23740ed4 .panel-grid .panel-grid-cell-mobile-last {
         margin-bottom: 0px
     }
 }
 /* Layout w57674e2f6ed42 */

 #pgc-w57674e2f6ed42-0-0 {
     width: 70%;
     width: calc(70% - ( 0.3 * 0px))
 }

 #pgc-w57674e2f6ed42-0-1 {
     width: 30%;
     width: calc(30% - ( 0.7 * 0px))
 }

 #pl-w57674e2f6ed42 .so-panel {
     margin-bottom: 30px
 }

 #pl-w57674e2f6ed42 .so-panel:last-child {
     margin-bottom: 0px
 }

 @media (max-width:780px) {
     #pg-w57674e2f6ed42-0.panel-no-style,
     #pg-w57674e2f6ed42-0.panel-has-style>.panel-row-style {
         -webkit-flex-direction: column;
         -ms-flex-direction: column;
         flex-direction: column
     }
     #pg-w57674e2f6ed42-0 .panel-grid-cell {
         margin-right: 0
     }
     #pg-w57674e2f6ed42-0 .panel-grid-cell {
         width: 100%
     }
     #pgc-w57674e2f6ed42-0-0 {
         margin-bottom: 30px
     }
     #pl-w57674e2f6ed42 .panel-grid-cell {
         padding: 0
     }
     #pl-w57674e2f6ed42 .panel-grid .panel-grid-cell-empty {
         display: none
     }
     #pl-w57674e2f6ed42 .panel-grid .panel-grid-cell-mobile-last {
         margin-bottom: 0px
     }
 }
 /* Layout w5701f1181a8f0 */

 #pgc-w5701f1181a8f0-0-0 {
     width: 100%;
     width: calc(100% - ( 0 * 30px))
 }

 #pl-w5701f1181a8f0 .so-panel {
     margin-bottom: 30px
 }

 #pl-w5701f1181a8f0 .so-panel:last-child {
     margin-bottom: 0px
 }

 @media (max-width:780px) {
     #pg-w5701f1181a8f0-0.panel-no-style,
     #pg-w5701f1181a8f0-0.panel-has-style>.panel-row-style {
         -webkit-flex-direction: column;
         -ms-flex-direction: column;
         flex-direction: column
     }
     #pg-w5701f1181a8f0-0 .panel-grid-cell {
         margin-right: 0
     }
     #pg-w5701f1181a8f0-0 .panel-grid-cell {
         width: 100%
     }
     #pl-w5701f1181a8f0 .panel-grid-cell {
         padding: 0
     }
     #pl-w5701f1181a8f0 .panel-grid .panel-grid-cell-empty {
         display: none
     }
     #pl-w5701f1181a8f0 .panel-grid .panel-grid-cell-mobile-last {
         margin-bottom: 0px
     }
 }
 /* Layout w5743ce68bcdfc */

 #pgc-w5743ce68bcdfc-0-0 {
     width: 100%;
     width: calc(100% - ( 0 * 30px))
 }

 #pl-w5743ce68bcdfc .so-panel {
     margin-bottom: 30px
 }

 #pl-w5743ce68bcdfc .so-panel:last-child {
     margin-bottom: 0px
 }

 #pg-w5743ce68bcdfc-0>.panel-row-style {
     padding: 55px 0px 80px
 }

 #panel-w5743ce68bcdfc-0-0-0>.panel-widget-style {
     padding: 0px 0px 36px
 }

 @media (max-width:780px) {
     #pg-w5743ce68bcdfc-0.panel-no-style,
     #pg-w5743ce68bcdfc-0.panel-has-style>.panel-row-style {
         -webkit-flex-direction: column;
         -ms-flex-direction: column;
         flex-direction: column
     }
     #pg-w5743ce68bcdfc-0 .panel-grid-cell {
         margin-right: 0
     }
     #pg-w5743ce68bcdfc-0 .panel-grid-cell {
         width: 100%
     }
     #pl-w5743ce68bcdfc .panel-grid-cell {
         padding: 0
     }
     #pl-w5743ce68bcdfc .panel-grid .panel-grid-cell-empty {
         display: none
     }
     #pl-w5743ce68bcdfc .panel-grid .panel-grid-cell-mobile-last {
         margin-bottom: 0px
     }
 }
 /* Layout w5744171150681 */

 #pgc-w5744171150681-0-0,
 #pgc-w5744171150681-0-1 {
     width: 50%;
     width: calc(50% - ( 0.5 * 30px))
 }

 #pg-w5744171150681-0,
 #pl-w5744171150681 .so-panel:last-child {
     margin-bottom: 0px
 }

 #pl-w5744171150681 .so-panel {
     margin-bottom: 30px
 }

 #pg-w5744171150681-0>.panel-row-style {
     background-color: #ffffff;
     padding: 80px 0px;
     font-size: 18px;
     line-height: 26px
 }

 #panel-w5744171150681-0-0-0>.panel-widget-style,
 #panel-w5744171150681-0-1-0>.panel-widget-style {
     padding: 25px 0px;
     max-width: 500px;
     margin: auto
 }

 #panel-w5744171150681-0-0-1>.panel-widget-style {
     padding: 25px 0px;
     max-width: 353px;
     margin: auto
 }

 #panel-w5744171150681-0-1-1>.panel-widget-style {
     padding: 25px 0px
 }

 @media (max-width:780px) {
     #pg-w5744171150681-0.panel-no-style,
     #pg-w5744171150681-0.panel-has-style>.panel-row-style {
         -webkit-flex-direction: column;
         -ms-flex-direction: column;
         flex-direction: column
     }
     #pg-w5744171150681-0 .panel-grid-cell {
         margin-right: 0
     }
     #pg-w5744171150681-0 .panel-grid-cell {
         width: 100%
     }
     #pgc-w5744171150681-0-0 {
         margin-bottom: 30px
     }
     #pl-w5744171150681 .panel-grid-cell {
         padding: 0
     }
     #pl-w5744171150681 .panel-grid .panel-grid-cell-empty {
         display: none
     }
     #pl-w5744171150681 .panel-grid .panel-grid-cell-mobile-last {
         margin-bottom: 0px
     }
 }
 /* Layout w56dd4ce038627 */

 #pgc-w56dd4ce038627-0-0 {
     width: 100%;
     width: calc(100% - ( 0 * 30px))
 }

 #pl-w56dd4ce038627 .so-panel {
     margin-bottom: 30px
 }

 #pl-w56dd4ce038627 .so-panel:last-child {
     margin-bottom: 0px
 }

 #pg-w56dd4ce038627-0>.panel-row-style {
     background-color: #f5f5f5
 }

 #panel-w56dd4ce038627-0-0-0>.panel-widget-style {
     padding: 40px 0px
 }

 @media (max-width:780px) {
     #pg-w56dd4ce038627-0.panel-no-style,
     #pg-w56dd4ce038627-0.panel-has-style>.panel-row-style {
         -webkit-flex-direction: column;
         -ms-flex-direction: column;
         flex-direction: column
     }
     #pg-w56dd4ce038627-0 .panel-grid-cell {
         margin-right: 0
     }
     #pg-w56dd4ce038627-0 .panel-grid-cell {
         width: 100%
     }
     #pl-w56dd4ce038627 .panel-grid-cell {
         padding: 0
     }
     #pl-w56dd4ce038627 .panel-grid .panel-grid-cell-empty {
         display: none
     }
     #pl-w56dd4ce038627 .panel-grid .panel-grid-cell-mobile-last {
         margin-bottom: 0px
     }
 }
 /* Layout w5744172393a5a */

 #pgc-w5744172393a5a-0-0 {
     width: 33.3498%;
     width: calc(33.3498% - ( 0.66650166934238 * 30px))
 }

 #pgc-w5744172393a5a-0-1 {
     width: 16.6667%;
     width: calc(16.6667% - ( 0.83333343890727 * 30px))
 }

 #pgc-w5744172393a5a-0-2 {
     width: 16.6851%;
     width: calc(16.6851% - ( 0.83314879992123 * 30px))
 }

 #pgc-w5744172393a5a-0-3 {
     width: 33.2984%;
     width: calc(33.2984% - ( 0.66701609182913 * 30px))
 }

 #pg-w5744172393a5a-0,
 #pg-w5744172393a5a-1,
 #pl-w5744172393a5a .so-panel {
     margin-bottom: 30px
 }

 #pgc-w5744172393a5a-1-0 {
     width: 100%;
     width: calc(100% - ( 0 * 30px))
 }

 #pgc-w5744172393a5a-2-0,
 #pgc-w5744172393a5a-2-1 {
     width: 50%;
     width: calc(50% - ( 0.5 * 30px))
 }

 #pl-w5744172393a5a .so-panel:last-child {
     margin-bottom: 0px
 }

 #pg-w5744172393a5a-0>.panel-row-style {
     padding: 80px 0px 0px
 }

 #panel-w5744172393a5a-0-0-1>.panel-widget-style {
     padding: 38px 0px
 }

 #panel-w5744172393a5a-0-1-0>.panel-widget-style,
 #panel-w5744172393a5a-0-2-0>.panel-widget-style {
     padding: 0px 0px 30px
 }

 #pg-w5744172393a5a-2>.panel-row-style {
     padding-top: 6px;
     padding-bottom: 20px
 }

 @media (max-width:780px) {
     #pg-w5744172393a5a-0.panel-no-style,
     #pg-w5744172393a5a-0.panel-has-style>.panel-row-style,
     #pg-w5744172393a5a-1.panel-no-style,
     #pg-w5744172393a5a-1.panel-has-style>.panel-row-style,
     #pg-w5744172393a5a-2.panel-no-style,
     #pg-w5744172393a5a-2.panel-has-style>.panel-row-style {
         -webkit-flex-direction: column;
         -ms-flex-direction: column;
         flex-direction: column
     }
     #pg-w5744172393a5a-0 .panel-grid-cell,
     #pg-w5744172393a5a-1 .panel-grid-cell,
     #pg-w5744172393a5a-2 .panel-grid-cell {
         margin-right: 0
     }
     #pg-w5744172393a5a-0 .panel-grid-cell,
     #pg-w5744172393a5a-1 .panel-grid-cell,
     #pg-w5744172393a5a-2 .panel-grid-cell {
         width: 100%
     }
     #pgc-w5744172393a5a-0-0,
     #pgc-w5744172393a5a-0-1,
     #pgc-w5744172393a5a-0-2,
     #pgc-w5744172393a5a-2-0 {
         margin-bottom: 30px
     }
     #pl-w5744172393a5a .panel-grid-cell {
         padding: 0
     }
     #pl-w5744172393a5a .panel-grid .panel-grid-cell-empty {
         display: none
     }
     #pl-w5744172393a5a .panel-grid .panel-grid-cell-mobile-last {
         margin-bottom: 0px
     }
 }
 /* Layout w5701effebe0cf */

 #pgc-w5701effebe0cf-0-0 {
     width: 100%;
     width: calc(100% - ( 0 * 30px))
 }

 #pl-w5701effebe0cf .so-panel {
     margin-bottom: 30px
 }

 #pl-w5701effebe0cf .so-panel:last-child {
     margin-bottom: 0px
 }

 #pg-w5701effebe0cf-0>.panel-row-style {
     padding: 160px 0px 185px
 }

 #panel-w5701effebe0cf-0-0-0>.panel-widget-style {
     padding: 0px 0px 36px
 }

 @media (max-width:780px) {
     #pg-w5701effebe0cf-0.panel-no-style,
     #pg-w5701effebe0cf-0.panel-has-style>.panel-row-style {
         -webkit-flex-direction: column;
         -ms-flex-direction: column;
         flex-direction: column
     }
     #pg-w5701effebe0cf-0 .panel-grid-cell {
         margin-right: 0
     }
     #pg-w5701effebe0cf-0 .panel-grid-cell {
         width: 100%
     }
     #pl-w5701effebe0cf .panel-grid-cell {
         padding: 0
     }
     #pl-w5701effebe0cf .panel-grid .panel-grid-cell-empty {
         display: none
     }
     #pl-w5701effebe0cf .panel-grid .panel-grid-cell-mobile-last {
         margin-bottom: 0px
     }
 }